#form-contact {
  form {
	label.forminator-label {
	  display: none;
	}

	input {
	  font-family: $font-default;

	  &[type="text"],
	  &[type="email"] {
		text-align: center;
		border: none;
		border-bottom: 2px solid #292929;
		background: transparent;
		font-size: 1rem;
		padding: 1.125rem .5rem;
		width: 100%;

		&:focus {
		  outline: none;
		}
	  }
	}

	.field-message {
	  input {
		width: 100%;
	  }
	}

	#submit {
	  button {
		padding: 0;
		margin: 0;
		width: 4.19rem;
		height: 2.3rem;
		font-size: 0;
		border: none;
		background-image: url(../images/arrow-blue-button.png);
		background-color: transparent;
		background-size: contain;
		background-position: center center;
		@include respond-above(md) {
		  width: 3.8125rem;
		  height: 2.0625rem;
		}
	  }
	}
  }
}


#form-contact-header {
  form {
	label.forminator-label {
	  display: none;
	}

	.forminator-row {
	  display: flex;
	  flex-direction: column;
	  margin-bottom: 0;
	}

	input {
	  font-family: $font-default;

	  &::-webkit-input-placeholder,
	  &::-moz-placeholder,
	  &:-ms-input-placeholder,
	  &::-webkit-input-placeholder,
	  &::placeholder {
		color: #fff;
	  }

	  &[type="text"],
	  &[type="email"] {
		text-align: left;
		color: #fff;
		border: none;
		border-bottom: 2px solid #fff;
		background: transparent;
		font-size: 1rem;
		padding: .75rem .625rem;
		width: 34.8125rem;
		margin-bottom: 2.25rem;

		&:focus {
		  outline: none;
		}
	  }
	}
  }
}


//override forminator bullshit addon CSS:
.et-db #et-boc .et_pb_module .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:not(:last-child),
.forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:not(:last-child) {
  margin-bottom: 3.6875rem;
  @include respond-below(md) {
	flex-direction: column;
	margin-bottom: 0;
	.forminator-col {
	  margin-bottom: 1.615rem;

	  &.field-message {
		margin-bottom: 1.89rem;
	  }
	}
  }
}