html {
  margin-top: 0 !important;
}


div#wpadminbar {
  display: none;
}


//html:not(.ng-scope),
//body:not(.oxygen-builder-body) {
//  scroll-snap-type: y mandatory;
//  scroll-behavior: smooth;
//}
//
//.ct-section,
//.oxy-header {
//  scroll-snap-align: start;
//}
//
//.ct-inner-content > section {
//  background-color: transparent !important;
//}
//#vehicle1,
//#vehicle2,
//#vehicle2blue,
//#vehicle3 {
//  display: none !important;
//}


.ball-blue-left {
  position: relative;

  &:before {
	position: absolute;
	left: -2.56rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1.5625rem;
	height: 1.5625rem;
	content: '';
	background-image: url('../images/blueball.png');
	background-size: 100% 100%;
  }
}


#home-title-tech-prod {
  &:before {
	position: absolute;
	left: -1.75rem;
	width: 0.8125rem;
	height: 0.8125rem;
  }
}