html {
  margin-top: 0 !important;
  @include respond-below(sm) {
	font-size: 11.0116px;
  }
}


body {
  background-color: #e8e8e8;

  svg:not(:root) {
	overflow: visible;
  }
}


div#wpadminbar {
  display: none;
}


.hide-desktop {
  display: block;
  @include respond-above(md) {
	display: none;
  }
}


.hide-mobile {
  display: none;
  @include respond-above(md) {
	display: block;
  }
}


//html:not(.ng-scope),
//body:not(.oxygen-builder-body) {
//  scroll-snap-type: y mandatory;
//  scroll-behavior: smooth;
//}
//
//.ct-section,
//.oxy-header {
//  scroll-snap-align: start;
//}
//
.ct-inner-content > section {
  background-color: transparent !important;
}


//#vehicle1,
//#vehicle2,
//#vehicle2blue,
//#vehicle3 {
//  display: none !important;
//}
.ball-blue-left {
  position: relative;

  &:before {
	position: absolute;
	left: -2.56rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1.5625rem;
	height: 1.5625rem;
	content: '';
	background-image: url('../images/blueball.png');
	background-size: 100% 100%;
  }
}


#home-title-tech-prod {
  &:before {
	position: absolute;
	left: -1.75rem;
	width: 0.8125rem;
	height: 0.8125rem;
  }

  @include respond-below(md) {
	position: relative;
	&:before {
	  display: none;
	}
  }
}


#section1redcircle {
  svg {
  }

  div {
	&.text1dynamic,
	&.text1static,
	&.text2dynamic,
	&.text2static {
	  color: $col-negative;
	  position: absolute;
	  white-space: nowrap;
	  line-height: 1;
	}

	&.text1static,
	&.text2static {
	  font-weight: 700;
	}

	&.text1dynamic {
	  font-weight: 900;
	  top: 25.25rem;
	  left: 30.521vw;
	}

	&.text1static {
	  top: 26.5rem;
	  left: 30.573vw;
	}

	&.text2dynamic {
	  font-weight: 800;
	}

	&.text2static {
	}
  }
}