#menu_main {
  ul {
	> li {
	  position: relative;

	  &.menu-item {
		a {
		  padding: 0 1rem;
		  line-height: 1;
		}

		+ li:before {
		  content: "\2022";
		  padding: 0;
		  margin: 0;
		  color: #5d5d5e;
		  display: block;
		  position: absolute;
		  left: 0;
		  top: calc(50% - 0.091rem);
		  transform: translate(-50%, -50%);
		}
	  }
	}
  }
}


//mobile toggle
.oxy-nav-menu-hamburger-wrap {
  width: unset !important;
  height: unset !important;
  padding: 2.027rem 1.92rem 1.92rem;
  margin: 0 !important;

  .oxy-nav-menu-hamburger {
	width: 0.34rem !important;
	height: unset !important;
	display: flex;
	flex-wrap: wrap;
	justify-content: unset;
	flex-direction: row;

	.oxy-nav-menu-hamburger-line {
	  width: .34rem !important;
	  height: .34rem !important;
	  border-radius: 50% !important;
	  margin-bottom: 0.412rem;
	  &:last-child {
		margin-bottom: 0;
	  }
	}
  }
}